{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Welcome!</title>
</head>


<body>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light navbar-custom">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon" id="tombol-nav"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link txt-ikon" href="/#home" style="color:#00AFB9; font-weight: bold; margin-right: 20px;">home<span class="sr-only">home</span></a>
                <a class="nav-item nav-link txt-ikon" href="/#about"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">about</a>
                <a class="nav-item nav-link txt-ikon" href="/#education"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">education</a>
                <a class="nav-item nav-link txt-ikon" href="/#experience"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">experience</a>
                <a class="nav-item nav-link txt-ikon" href="/contact/"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">contact</a>
                <a class="nav-item nav-link txt-ikon" href="/schedule/"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">schedule</a>
                <a class="nav-item nav-link txt-ikon" href="/story8/"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">books</a>
                <a class="nav-item nav-link txt-ikon" href="/story9/"  style="color:#00AFB9 ; font-weight: bold; margin-right: 20px;">LOGIN</a>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>