{% extends 'base.html' %}

{% block content %}
{% load static %}
  <section class="section1" id="home">
    <div class="pertama">
        <div> <p style="font-size: 45px; font-weight: bold;">Hello!</p></div>
        <div style="font-size: 45px;"><h3 style="font-weight: bold;">I'm <strong style="font-weight: bolder;">Fadhila Humairah</strong></h3></div>
        <div><p class="text">So, are you ready to get to know me?</p></div>
        <div><a href="#about"><button type="button" class="btn btn-outline-info" style="font-weight: bold;">more than ready</button></a></div>
      </div>
  </section>


  <section class="section1 section2"  id="about">
    <div class="kedua">
      <div>
        <img class="cakep" src="../static/cakep.jpg" alt="" >
      </div>
      <div class = "konten">
        <strong class="hello">Hello again!</strong>
        <p>
          As it’s said above, my name is Fadhila Humairah (NPM : 1906353990), 
          but call me fala and it’s enough. I’m currently studying at Universitas Indonesia, 
          majoring in Information System (Maung 2019). 
        </p>
        <p>
          I love to learn something new, so that makes me a hardworker. 
          I am also a communicative person, so don’t hesitate to talk to me.
          I don’t have any specific hobby, but i love watching a lot of movies, 
          listening to music, and exploring new things on the internet in my leisure.
        </p>
        <p style="font-weight: bolder;">
          Skills:
        </p>
        <div class="skills">
          <img src="../static/python.svg"  class="skillsicon" alt="">
          <img src="../static/java.svg" class="skillsicon" alt="">
        </div>
      </div>
    </div>
  </section>



  <section class="section3" id="education">
    <div class="ketiga">
      <strong class="education">Educational Background</strong>
      <ul class="listedu" style="list-style-type: none;">
        <li>
           <img src="../static/sd.svg" class="riwayat">
        </li>
        <li >
            <img src="../static/smp.svg" class="riwayat">
        </li>
        <li>
            <img src="../static/sma.svg" class="riwayat">
        </li>
        <li >
            <img src="../static/ui.svg" class="riwayat">
        </li>
      </ul>
    </div>
  </section>


  <section class="section1 section4" id="experience">
    <div class="keempat">
      <strong class="experience">Experience</strong>
      <div class="kotak">
        <img class="prestasi"  src="../static/committe.svg" alt="">
        <img class="prestasi"  src="../static/achievements.svg" alt="" >
      </div>
    </div>
  </section>

{% endblock %}