{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body{
        background-color:  #AED9E0;
    }
</style>
<section class="half container-fluid flex-column flex-lg-row m-auto w-50" id="bg-up" style="color:  #00AFB9;">
    <div class='container'>
        <h3 style ="margin-top: 1vh;">Cari Buku</h3>
        <div class="input">
            <input type="text" id="input" placeholder="cari">
        </div>
        <br>
        <div class="content">
            <table class= "table table-borderless" >
                <thead>
                    <tr style="color: white;">
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">no</th>
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">cover</th>
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">title</th>
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">authors</th>
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">publisher</th>
                        <th scope="col" class="align-middle" style="background-color : #5E6472;">published date</th>
                    </tr>
                </thead>
                <tbody id="konten"></tbody>
            </table>
        </div>
    </div>
    
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>

<script type="text/javascript" src="{% static 'search.js' %}"></script>





{% endblock %}


