{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class= "section1 section5" id="contact">
    <div class="contact">
      <strong style="font-size: 45px; padding: 70px; padding-bottom: 20px; font-weight: bolder;">Contact</strong>
      <p style="font-size: 30px;">Need something? Let's be connected.</p>
      <a href="mailto:fadhilahumairah24@gmail.com">
        <button type="button" class="btn btn-light button">hit me up</button>
      </a>
    </div>

    <div class="contact contact2">
      <p style="margin-bottom: 5px;">Feel free to have a chit-chat with me</p>
      <div class = "sosmed">
        <a href="https://www.instagram.com/fadhilahumairah/"><img width="30" height="30"  alt="" src="../static/ig.svg"></a>
        <a href=" http://line.me/ti/p/~falaahumairah"><img width="30" height="30" alt="" src="../static/line.svg"></a>
        <a href = "https://twitter.com/Falaahumairah"><img  width="30" height="30" alt="" src="../static/tw.svg"></a>
        <a href = "https://wa.me/082276919191" ><img  width="30" height="30" alt="" src="../static/wa.svg"></a>
        <a href="https://www.linkedin.com/in/fadhilahumairah"><img width="30" height="30" alt="" src="../static/linkedin.svg"></a>
     </div>
    </div>
</section>

{% endblock %}