
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}" />


 <script>
     $( function() {
  $( "#accordion" ).accordion({
    header: "> div > h3",
    collapsible: true,

    heightStyle: "content",
    icons:false,
    active: 0

  });
} );


$( document ).ready(function() {
  setButtons();
  $(document).on('click', '.down', function(e) {
  var cCard = $(this).closest('.group');
  var tCard = cCard.next('.group');
  cCard.insertAfter(tCard);
  setButtons();
  });
  
  $(document).on('click', '.up', function(e) {
  var cCard = $(this).closest('.group');
  var tCard = cCard.prev('.group');
  cCard.insertBefore(tCard);
  setButtons();
  });
  
  function setButtons(){
      $('button').show();
      $('.group:first-child  button.up').hide();
      $('.group:last-child  button.down').hide();
  }
  
  });

 </script>
</head>


<style>
    .acc{
        text-align: left;
        padding-left: 20vh; 
        padding-right: 20vh
    }

    button{
        margin-right: 0px;
        justify-content: space-around;
    }

    @media (max-width: 786px){
        .section1{
            height: 150vh;
        }
    }
    
</style>

<body>
<div class="section1 section5" >
    <div class="contact">
      <strong style="font-size: 45px; padding: 25px; padding-bottom: 0px; font-weight: bolder;">Story 7</strong>
      <p style="font-size: 25px; padding-bottom: 5px;"> Welcome </p>

      <div id="accordion" class="acc" style=" font-family: 'Montserrat', sans-serif;">
        <div class="group" >
        <h3  >About Me
            
                <button class="up"><img src="../static/up.png" ></button>
                <button class="down"><img src="../static/down.png" ></button>

        </h3>
        <div>
          <p>Hello, my name is fadhila humairah, but fala is enough. I'm currently studying at University of Indonesia, majoring in Information systems.</p>
        </div>
        </div>

        <div class="group" >
        <h3  >Current activities
            <button class="up" ><img src="../static/up.png" ></button>
                <button  class="down" ><img src="../static/down.png" ></button>

        </h3>
        <div>
          <p>Not a lot, just keep studying so i can pass all of my subjects and becoming a comittee in some of events</p>
        </div>
        </div>
    
        <div class="group" >
        <h3  >Experience
            <button  class="up"><img src="../static/up.png" ></button>
                <button  class="down"><img src="../static/down.png" ></button>

        </h3>
        <div>
          <p>Not so impressive but here we go.</p>
          <ul>
            
            <li>Vice Person in Charge of Roadhshow UIGTM <br>2020-2021</li>
            <li>Staff of Decoration PERAK Fasilkom <br>2020</li>
            <li>HRD of CTF COMPFEST 12 <br>2020</li>
            <li>Staff of Event PMB Fasilkom 2021 <br>2020</li>
            <li>Staff of Roadshow UIGTM <br>2019-2020</li>
          </ul>
        </div>
        </div>

        <div class="group" >
        <h3>Achievements
            <button  class="up" ><img src="../static/up.png" ></button>
            <button  class="down"><img src="../static/down.png" ></button>

        </h3>
        <div>
            <p>Not so impressive but here we go.</p>
            <ul>
              
              <li style="padding-bottom: 5px;">1st Runner Up Debate Competition <br>National English Competition (NEC), 2017</li>
              <li style="padding-bottom: 5px;">Juara 3 Debate Competition (Novice)<br>LIBASH, 2016</li>
              <li style="padding-bottom: 5px;">Juara 2 Lomba Susun Kata Bahasa Jerman<br>Oktoberfest, 2016</li>
            </ul>
          </div>
        </ul>
        </div>
        </div>

      </div>


    </div>


</div>
</body>

   
