{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class= "section1 section5" id="contact">
    <div class="contact" >
      <strong style="font-size: 35px; padding: 25px; padding-bottom: 5px; font-weight: bolder;">Add Schedule</strong>
      <p style="font-size: 20px;">By failing to prepare, you are preparing to fail</p>
      <form method="POST" action="{% url 'jadwal:create_schedule' %}"> 
        {% csrf_token %}
        <span >Subjects : </span>
        <br>
        {{ form.nama_matkul }} <br>
        <span >Lecturer : </span>
        <br>
        {{ form.pengajar }} <br>
        <span >SKS : </span>
        <br>
        {{ form.jumlah_sks }} <br>
        <span >Description : </span>
        <br>
        {{ form.deskripsi }} <br>
        <span >Term : </span>
        <br>
        {{ form.semester }} <br>
        <p style="margin-bottom: 0; margin-top: 8px; ">Classroom : </p>
        {{ form.ruang }}
        <br>

        <input class= "btn btn-light button" style="margin-top: 4px;font-size: 15px;"type="submit" value="submit">     
      </form>







    
</section>

{% endblock %}