{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class= "section1 section5" id="contact">
    <div class="contact">
      <strong style="text-decoration: underline; font-size: 40px;  padding: 25px; padding-top : 15vh; font-weight: bolder;color:#5E6472;">{{ objek.nama_matkul }} Details</strong>
        <div class= "details" style="color:#5E6472;">
            <span>Lecturer: {{objek.pengajar}} </span><br>
            <span>SKS     : {{objek.jumlah_sks}}</span><br>
            <span>Description     : {{objek.deskripsi}}</span><br>
            <span>Term    : {{objek.get_semester_display}}</span><br>
            <span>Classroom    : {{objek.ruang}}</span>
        </div>

       
      <a href="delete_item/" >
        <button style="margin-top: 10vh;" type="button" class="btn btn-light button butsub">Remove</button>
      </a>

    </div>

    
</section>

{% endblock %}