{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class= "section1 section5" id="contact">
    <div class="contact">
      <strong style="font-size: 45px; padding: 25px; padding-bottom: 0px; font-weight: bolder;">Schedule</strong>
      <p style="font-size: 25px; padding-bottom: 5px;">I'm prepared</p>
      <a href="create_schedule/">
        <button style="font-size: 17px; margin-bottom:14px;" type="button" class="btn btn-light button">Add schedule</button>
      </a>

      <p style="text-decoration: underline; font-size: 20px; padding-top: 25px;margin-bottom:5px;font-weight: bolder;">List of Subjects</p>
      {% if jadwal %}
        {% for objek in jadwal %}
  
        <a href={{objek.id}}/ >
          <button style="font-size: 13px; margin:4px; width: 15vh;" class="btn btn-light button"> {{ objek.nama_matkul }}</button>
        </a>
        {% endfor %}
      {% endif %}
   


    </div>

    
</section>

{% endblock %}