<!DOCTYPE html>
{% load static %}
{% include "base.html" %} 

<style>
    body{
        text-align: center;
        justify-content: center;
        color:  #00AFB9;
    }
</style>
<section class="section1">
    <h1 class="title" style="padding-top: 20vh; font-weight: bolder;">login</h1>
    <form  action="" method="POST" style="font-weight: bold;">
    {% csrf_token %}
    <p  style="margin-bottom: 5px;">username: </p><input style="margin-bottom: 10px;" type="text" name="username">
    <p  style="margin-bottom: 5px;">password: </p><input type="password" name="password"> <br> <br>
    <button style = "border: 0px; font-size: 20px; padding: 20px; padding-top: 0px; padding-bottom: 0px;"class=" button" type="submit">login</button>

    
    {%for message in messages%}
    <div class="alert alert-danger" style="margin: 80vh; margin-top: 10px; margin-bottom: 0px;">
       {{message}}
    </div>
    {%endfor%}
   
</form>
</section>


</body>
</html>
