{% load static %}
{% include "base.html" %} 

<style>
    body{
        background-color: #AED9E0;
       
        text-align: left;
        color:  #00AFB9;
    }
</style>


<h1 style="padding-left: 10vh;" class="title">sign up</h1>
<form style="padding-left: 10vh;" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button  class="button" type="submit" style="border: 0px;">Submit</button>
</form>


