{% load static %}
{% include "base.html" %} 
<style>
    body{
        text-align: center;
        justify-content: center;
        color:  #00AFB9;
    }
</style>
        
    <body>
    <section class="section1">
        <br>
        <br>
        <br>
        <div class="container"> 
        <h1 style="font-weight: bolder;"id= "login">
            {% if user.is_authenticated %}
            hello, {{ user }} <br> </h1>
        <div style="font-weight: bold; font-size: 20px;">
            hope you have a nice day
        </div>
        <div  class=" button" style="padding-top: 50px;" id= "logout">
            <a href= "logout/" style="color: #5E6472;">logout</a>
        </div>
          {% else %}
          <h3 style="text-align: center; padding-bottom: 5vh; font-weight: bolder ; color:  #5E6472;">Login for the best experience</h3>
            <a class="button" href= "login/" >login</a>
         
        </div>
        <div id= "signup">
            <a class="button"href= "signup/" >sign up</a>
            {% endif %}
        </div>
        </div>
    </section>
        
    </body>
